* {
    margin: 0;
    padding: 0;
}

/* ----- POSITION ----- */
body {
    display: grid;
    text-align: center;
}

#game {
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    grid-row-gap: 5px;
}

#scoreboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
}

#correct-score-box,
#incorrect-score-box,
#prompt {
    display: grid;
}

#correct-score-box > p,
#incorrect-score-box > p,
#prompt > p {
    margin: auto;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2px;
}

#next {
    grid-column: span 4;
}

/* ----- SIZE ----- */
html,
body {
    min-height: 100vh;
    min-width: 100vw;
}

#game {
    max-height: 80vh;
    max-width: 70vw;

    min-height: 500px;
    min-width: 350px;
}

#flag-image {
    width: 500px;
}

/* ----- STYLE ----- */
body {
    background: url("landscape.jpg") no-repeat center;
    background-size: cover;
    font-family: "Verdana", Times, sans-serif;
    font-size: 18px;
}

#correct-score-box,
#incorrect-score-box,
#flag-image,
#prompt {
    border-radius: 10px;
}

#prompt {
    font-size: 24px;
}

.neutral {
    background-color: white;
    border: 1px solid grey;
    color: black;
}

.correct {
    background-color: #3CBA2F;
    border: 1px solid green;
    color: white;
}

.incorrect {
    background-color: #DA1E1E;
    border: 1px solid red;
    color: white;
}


#buttons > button {
    background-color: #0555F5;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 18px;
}

#buttons > button:hover {
    background-color: #0047D5;
    border: none;
    box-shadow: 1px 1px #0047D5;
}